@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
  zoom: 1;
}

input {
  border: 0;
}

h3 {
  font-weight: normal;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Microsoft Yahei";
  background: url(../images/bg.png)no-repeat;
  background-size: 100% auto;
  /*width: 100%;
     */
  /*height: 100%;
     */
  /*position: absolute;
     */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.png', sizingMethod='scale');
}

.index-con {
  width: 20rem;
  height: 9rem;
  margin: 2.8rem auto 0;
  position: relative;
}

.index-con li {
  width: 6.7rem;
  float: left;
  margin: 0 0.2rem 0.1rem 0;
  position: relative;
}

*html .index-con li {
  margin: 0 0.2rem 0.2rem 0;
}

*html .index-con .in-zxl {
  margin-top: -0.2rem;
}

.index-con li a {
  font-size: 0.6rem;
  color: #fff !important;
  line-height: 1.26rem;
  zoom: 1;
  position: relative;
}

.in-kct a {
  height: 6rem;
  display: block;
  text-align: center;
}

.in-kct a {
  background: #b01e00;
}

.in-kct i {
  width: 3rem;
  height: 3rem;
  display: block;
  background: url(../images/portfolio.png) no-repeat;
  float: left;
  ;
  margin: 0.8rem 1.9rem 0 1.9rem;
}

*html .in-kct i {
  margin: 0.9rem 0.9rem 0.3rem 0.9rem;
}

.in-quest a {
  background: #28b779;
}

.in-quest i {
  background: url(../images/blog.png) no-repeat;
}

.index-con .in-jbk a {
  width: 6.2rem;
  height: 2.9rem;
  display: block;
  background: #00bfff;
  display: block;
  line-height: 2.9rem;
}

.in-jbk i {
  width: 1.2rem;
  height: 1.06rem;
  display: block;
  float: left;
  background: url(../images/music.png) no-repeat;
  margin: 1rem 0.6rem 0 1.1rem;
}

*html .in-jbk i {
  margin: 0.76rem 0.5rem 0 0.4rem;
}

.index-con .in-report a {
  display: block;
  background: #ff8000;
}

.in-report i {
  width: 1.28rem;
  height: 1.28rem;
  background: url(../images/photo.png) no-repeat;
  margin: 0.84rem 0.6rem 0 0.98rem;
}

.index-con .in-client a {
  height: 2.6rem;
  display: block;
  background: #691bb8;
  line-height: 2.6rem;
}

.in-client i {
  width: 1.16rem;
  height: 1.1rem;
  background: url(../images/note.png) no-repeat;
  margin: 0.76rem 0.6rem 0 1.04rem;
}

*html .in-client i {
  margin: 0.8rem 0.6rem 0 0.44rem;
}

.index-con .in-zxl a {
  height: 2.6rem;
  line-height: 2.6rem;
  display: block;
  background: #ff8000;
  margin-top: 0.1rem;
  overflow: hidden;
}

*html .index-con .in-zxl a {
  margin-top: 0.2rem;
}

.in-zxl i {
  width: 1.28rem;
  height: 1.12rem;
  display: block;
  float: left;
}

.in-forma i {
  background: url(../images/contact.png) no-repeat 0 0.06rem;
  margin: 0.74rem 0.5rem 0 1.9rem;
}

.index-con .in-means a {
  background: #1f64cd;
}

.in-means i {
  background: url(../images/means.png) no-repeat;
  margin: 0.8rem 0.5rem 0 1.9rem;
}

.in-forma i,
.in-means i {
  *margin: 0.8rem 0.7rem 0 1.5rem;
}

*html .in-forma i,
.in-means i {
  margin: 0.8rem 0.7rem 0 0.7rem;
  *margin: 0.8rem 0.7rem 0 1.6rem;
}

.in-text {
  width: 4.2rem;
  position: absolute;
  left: 1.3rem;
  bottom: 1rem;
  text-align: center;
  font-size: 0.32rem;
  line-height: 0.6rem;
}

.in-text em {
  color: #ffe569;
  font-size: 0.5rem;
}

.in-kct .in-none {
  width: 2.28rem;
  height: 2.28rem;
  background: url(../images/portfolio2.png) no-repeat;
  position: absolute;
  top: 0.02rem;
  left: 0.36rem;
}

*html .in-kct .in-none {
  position: absolute;
  top: 0.06rem;
  left: 1.28rem;
}

.in-quest .in-none {
  background: url(../images/blog2.png) no-repeat;
}

.in-jbk .in-text,
.in-zxl .in-text {
  width: 2.9rem;
  line-height: 0.5rem;
  text-align: left;
  margin-left: 1.1rem;
  position: absolute;
  left: 1.3rem;
  bottom: 0.96rem;
}

.in-client .in-text {
  position: absolute;
  left: 1.3rem;
  bottom: 0.8rem;
}

.in-jbk .in-none {
  margin: 1rem 0.6rem 0 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
}

.in-report .in-none {
  margin: 0.84rem 0.6rem 0 0.6rem;
}

.in-zxl .in-none {
  margin: 0.8rem 0.6rem 0 0.84rem;
  *margin: 0.8rem 0.6rem 0 0.84rem;
  position: absolute;
  top: 0;
  left: 0;
}

.in-forma .in-none {
  margin: 0.74rem 0.6rem 0 0.84rem;
  *margin: 0.76rem 0.6rem 0 0.84rem;
}

.in-zxl .in-text {
  margin-left: 1.3rem;
  position: absolute;
  left: 1.3rem;
  bottom: 0.84rem;
}

.in-none .in-text {
  position: absolute;
  left: 1.3rem;
  bottom: 0.8rem;
}

.in-report .in-none .in-text,
.in-plan .in-none .in-text {
  position: absolute;
  left: 1.3rem;
  bottom: 1rem;
}

.nav-box-big span {
  font-size: 0.66rem;
  color: #de2501
}

.nav-box-big span {
  max-width: 5.2rem;
  _max-width: 4.6rem
}

.index-con .in-none,
.index-con .in-text {
  display: none;
}

.index-con .in-jbk {
  height: 2.6rem;
  position: absolute;
  top: 0;
  right: -0.2rem;
}

.index-con .in-plan {
  width: 6.2rem;
  height: 2.9rem;
  position: absolute;
  top: 0;
  right: -0.2rem;
  z-index: 5
}

.index-con .in-report {
  width: 6.2rem;
  height: 2.9rem;
  position: absolute;
  top: 3.08rem;
  right: -0.2rem;
  z-index: 5
}

.index-con .in-client {
  width: 6.2rem;
  height: 2.6rem;
  position: absolute;
  top: 6.2rem;
  right: -0.2rem;
  z-index: 5
}

.index-con .in-jbk i.hide,
.index-con .in-zxl i.hide {
  visibility: hidden
}

.index-con .in-kct .ch {
  position: absolute;
  bottom: 0.8rem;
  left: 2.8rem;
}

.index-con .in-jbk .ch1 {
  position: absolute;
  top: 0;
  left: 2.8rem;
}

.index-con .in-zxl .ch2 {
  position: absolute;
  top: 0;
  left: 3.6rem;
}

.top-nav {
  background: #151515;
  height: 0.94rem;
  line-height: 0.94rem;
}

.w1000 {
  width: 20rem;
  margin: 0 auto;
}

.topLogo {
  float: left;
  padding-top: 0.1rem;
}

.topLogin {
  float: right;
  background: url(../images/admin.jpg) no-repeat 0rem 0.36rem;
  font-size: 0.16rem;
  color: #5c5c5c;
  padding-left: 0.2rem;
}

.topLogin a {
  color: #fff;
  font-size: 0.28rem;
  padding: 0 0.1rem;
  margin-left: 0.1rem;
}

.in-kct .in-block .smaller {
  animation: scale 1s .1s ease-in-out both normal;
  -moz-animation: scale 1s .1s ease-in-out both normal;
  -webkit-animation: scale 1s .1s ease-in-out both normal;
  -o-animation: scale 1s .1s ease-in-out both normal
}

.in-kct .in-block .bigger {
  animation: scale1 1s .1s ease-in-out both normal;
  -moz-animation: scale1 1s .1s ease-in-out both normal;
  -webkit-animation: scale1 1s .1s ease-in-out both normal;
  -o-animation: scale1 1s .1s ease-in-out both normal;
}

.show {
  animation: show 1s .1s ease-in-out both normal;
  -moz-animation: show 1s .1s ease-in-out both normal;
  -webkit-animation: show 1s .1s ease-in-out both normal;
  -o-animation: show 1s .1s ease-in-out both normal;
}

.toLeft1 {
  animation: toLeft1 1s .1s ease-in-out both normal;
  -moz-animation: toLeft1 1s .1s ease-in-out both normal;
  -webkit-animation: toLeft1 1s .1s ease-in-out both normal;
  -o-animation: toLeft1 1s .1s ease-in-out both normal;
}

.toRight1 {
  animation: toRight1 1s .1s ease-in-out both normal;
  -moz-animation: toRight1 1s .1s ease-in-out both normal;
  -webkit-animation: toRight1 1s .1s ease-in-out both normal;
  -o-animation: toRight1 1s .1s ease-in-out both normal;
}

.toLeft2 {
  animation: toLeft2 1s .1s ease-in-out both normal;
  -moz-animation: toLeft2 1s .1s ease-in-out both normal;
  -webkit-animation: toLeft2 1s .1s ease-in-out both normal;
  -o-animation: toLeft2 1s .1s ease-in-out both normal;
}

.toRight2 {
  animation: toRight2 1s .1s ease-in-out both normal;
  -moz-animation: toRight2 1s .1s ease-in-out both normal;
  -webkit-animation: toRight2 1s .1s ease-in-out both normal;
  -o-animation: toRight2 1s .1s ease-in-out both normal;
}

.toLeft3 {
  animation: toLeft3 1s .1s ease-in-out both normal;
  -moz-animation: toLeft3 1s .1s ease-in-out both normal;
  -webkit-animation: toLeft3 1s .1s ease-in-out both normal;
  -o-animation: toLeft3 1s .1s ease-in-out both normal;
}

.toRight3 {
  animation: toRight3 1s .1s ease-in-out both normal;
  -moz-animation: toRight3 1s .1s ease-in-out both normal;
  -webkit-animation: toRight3 1s .1s ease-in-out both normal;
  -o-animation: toRight3 1s .1s ease-in-out both normal;
}

.toLeft4 {
  animation: toLeft4 1s .1s ease-in-out both normal;
  -moz-animation: toLeft4 1s .1s ease-in-out both normal;
  -webkit-animation: toLeft4 1s .1s ease-in-out both normal;
  -o-animation: toLeft4 1s .1s ease-in-out both normal;
}

.toRight4 {
  animation: toRight4 1s .1s ease-in-out both normal;
  -moz-animation: toRight4 1s .1s ease-in-out both normal;
  -webkit-animation: toRight4 1s .1s ease-in-out both normal;
  -o-animation: toRight4 1s .1s ease-in-out both normal;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.65);
  }
}

@-moz-keyframes scale {
  0% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(0.65);
  }
}

@-ms-keyframes scale {
  0% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(0.65);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.65);
  }
}

@-webkit-keyframes scale1 {
  0% {
    -webkit-transform: scale(0.65);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes scale1 {
  0% {
    -moz-transform: scale(0.65);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes scale1 {
  0% {
    -ms-transform: scale(0.65);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@keyframes scale1 {
  0% {
    transform: scale(0.65);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem)
  }
}

@-moz-keyframes show {
  0% {
    opacity: 0;
    -moz-transform: translateY(70%)
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0rem)
  }
}

@-ms-keyframes show {
  0% {
    opacity: 0;
    -ms-transform: translateY(70%)
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0rem)
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(70%)
  }

  100% {
    opacity: 1;
    transform: translateY(0rem)
  }
}

@-webkit-keyframes toLeft1 {
  0% {
    -webkit-transform: translateX(45%)
  }

  100% {
    -webkit-transform: translateX(0rem)
  }
}

@-moz-keyframes toLeft1 {
  0% {
    -moz-transform: translateX(45%)
  }

  100% {
    -moz-transform: translateX(0rem)
  }
}

@-ms-keyframes toLeft1 {
  0% {
    -ms-transform: translateX(45%)
  }

  100% {
    -ms-transform: translateX(0rem)
  }
}

@keyframes toLeft1 {
  0% {
    transform: translateX(45%)
  }

  100% {
    transform: translateX(0rem)
  }
}

@-webkit-keyframes toRight1 {
  0% {
    -webkit-transform: translateX(0rem)
  }

  100% {
    -webkit-transform: translateX(45%)
  }
}

@-moz-keyframes toRight1 {
  0% {
    -moz-transform: translateX(0rem)
  }

  100% {
    -moz-transform: translateX(45%)
  }
}

@-ms-keyframes toRight1 {
  0% {
    -ms-transform: translateX(0rem)
  }

  100% {
    -ms-transform: translateX(45%)
  }
}

@keyframes toRight1 {
  0% {
    transform: translateX(0rem)
  }

  100% {
    transform: translateX(45%)
  }
}

@-webkit-keyframes toLeft2 {
  0% {
    opacity: 1;
    -webkit-transform: translateX(30%)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem)
  }
}

@-moz-keyframes toLeft2 {
  0% {
    opacity: 1;
    -moz-transform: translateX(30%)
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0rem)
  }
}

@-ms-keyframes toLeft2 {
  0% {
    opacity: 1;
    -ms-transform: translateX(30%)
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0rem)
  }
}

@keyframes toLeft2 {
  0% {
    opacity: 1;
    transform: translateX(30%)
  }

  100% {
    opacity: 1;
    transform: translateX(0rem)
  }
}

@-webkit-keyframes toRight2 {
  0% {
    -webkit-transform: translateX(0rem)
  }

  100% {
    -webkit-transform: translateX(30%)
  }
}

@-moz-keyframes toRight2 {
  0% {
    -moz-transform: translateX(0rem)
  }

  100% {
    -moz-transform: translateX(30%)
  }
}

@-ms-keyframes toRight2 {
  0% {
    -ms-transform: translateX(0rem)
  }

  100% {
    -ms-transform: translateX(30%)
  }
}

@keyframes toRight2 {
  0% {
    transform: translateX(0rem)
  }

  100% {
    transform: translateX(30%)
  }
}

@-webkit-keyframes toLeft3 {
  0% {
    -webkit-transform: translateX(38%)
  }

  100% {
    -webkit-transform: translateX(0rem)
  }
}

@-moz-keyframes toLeft3 {
  0% {
    -moz-transform: translateX(38%)
  }

  100% {
    -moz-transform: translateX(0rem)
  }
}

@-ms-keyframes toLeft3 {
  0% {
    -ms-transform: translateX(38%)
  }

  100% {
    -ms-transform: translateX(0rem)
  }
}

@keyframes toLeft3 {
  0% {
    transform: translateX(38%)
  }

  100% {
    transform: translateX(0rem)
  }
}

@-webkit-keyframes toRight3 {
  0% {
    -webkit-transform: translateX(0rem)
  }

  100% {
    -webkit-transform: translateX(38%)
  }
}

@-moz-keyframes toRight3 {
  0% {
    -moz-transform: translateX(0rem)
  }

  100% {
    -moz-transform: translateX(38%)
  }
}

@-ms-keyframes toRight3 {
  0% {
    -ms-transform: translateX(0rem)
  }

  100% {
    -ms-transform: translateX(38%)
  }
}

@keyframes toRight3 {
  0% {
    transform: translateX(0rem)
  }

  100% {
    transform: translateX(38%)
  }
}

@-webkit-keyframes toLeft4 {
  0% {
    -webkit-transform: translateX(82%)
  }

  100% {
    -webkit-transform: translateX(0rem)
  }
}

@-moz-keyframes toLeft4 {
  0% {
    -moz-transform: translateX(82%)
  }

  100% {
    -moz-transform: translateX(0rem)
  }
}

@-ms-keyframes toLeft4 {
  0% {
    -ms-transform: translateX(82%)
  }

  100% {
    -ms-transform: translateX(0rem)
  }
}

@keyframes toLeft4 {
  0% {
    transform: translateX(82%)
  }

  100% {
    transform: translateX(0rem)
  }
}

@-webkit-keyframes toRight4 {
  0% {
    -webkit-transform: translateX(0)
  }

  100% {
    -webkit-transform: translateX(82%)
  }
}

@-moz-keyframes toRight4 {
  0% {
    -moz-transform: translateX(0)
  }

  100% {
    -moz-transform: translateX(82%)
  }
}

@-ms-keyframes toRight4 {
  0% {
    -ms-transform: translateX(0)
  }

  100% {
    -ms-transform: translateX(82%)
  }
}

@keyframes toRight4 {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(82%)
  }
}
